body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
}

.register-container {
    width: 500px;
    margin: 30px auto;
    background-color: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
}

h2 {
    text-align: center;
    font-size: 1.2em;
    width: 100%;
}

.form-group {
    margin-bottom: 10px;
    width: 50%;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    width: 90%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 2px;
}

button {
    width: 45%;
    padding: 8px;
    color: #fff;
    background-color: #4caf50;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    margin-top: 8px;
}

.back-button {
    background-color: #f44336;
}

button:hover {
    background-color: #45a049;
}

button:active {
    background-color: #3e8e41;
}

/* Additional styles for flex container */

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-container label {
    margin-right: 10px;
}
