{% extends "admincore.html" %}
{% block navbody %}
<div class="top-buttons">
  <a href="/homeservicepannel"> <button class="btn btn-primary with-icon-idk"></button></a>
</div>
<div class="top-buttons">
  <a href=""> <button class="btn btn-primary with-icon-feedback"></button></a>
</div>
<div class="top-buttons">
  <a href="/techadd"> <button class="btn btn-primary with-icon-addtech"></button></a>
</div>
<div class="top-buttons">
  <button class="btn btn-primary with-icon-profile"></button>
</div>
<div class="top-buttons">
  <button class="btn btn-primary with-icon-logout" onclick="showLoadingScreen()"></button>
</div>

<div class="loading-screen" id="loadingScreen">
  <img src="/static/images/loding.gif" alt="">
</div>
{% endblock navbody %}
{% block body %}

<link rel="stylesheet" href="/static/css/adminprofile.css">

<div id="messages-container" class="notification">
  {% if messages %}
  {% for message in messages %}
  <small {% if message.tags %} class="{{ message.tags }}" {% endif %}>
    {{ message }}
  </small>
  {% endfor %}
  {% endif %}
</div>

<div class="form-container">
  <form action="" method="post" novalidate>
    {% csrf_token %}

    <div class="form-all">
      <div class="form-column">
        {{ form.username.label_tag }}
        {{ form.username }}
        {{ form.first_name.label_tag }}
        {{ form.first_name }}
        {{ form.last_name.label_tag }}
        {{ form.last_name }}
      </div>


      <div class="form-column">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.date_joined.label_tag }}
        {{ form.date_joined }}
        {{ form.last_login.label_tag }}
        {{ form.last_login }}
      </div>
    </div>

    <input type="submit" value="UPDATE" class="update-button">
  </form>
  <a href="{% url 'changepassword' %}" class="button">CHANGE PASSWORD</a>
</div>


<script>
  document.addEventListener('DOMContentLoaded', function () {
    var messagesContainer = document.getElementById('messages-container');
    setTimeout(function () {
      messagesContainer.classList.add('hide-notification');
    }, 5000);
  });
  // =========== loding screen
  function showLoadingScreen() {
    document.getElementById('loadingScreen').style.display = 'flex';
    setTimeout(function () {
      window.location.href = '/adminlogout';
    }, 1000);
  }
  // ============
</script>

{% endblock body %}

<style>

</style>