<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Vital_Flow | Home</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
  <link rel="stylesheet" href="/static/css/homepage.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
</head>

<body>
  <header class="header">
    <a class="logo" href=" ">
      <img src="/static/images/vitalflow.png" class="d-block w-100" style="height: 40px" alt="..." /></a>
    <nav class="navbar">
      <a href="#home">home</a>
      <a href="#about">about</a>
      <a href="#services">services</a>
      <a href="#pricing">packages</a>
    </nav>

    <a href="/userlogin" class="btn"> View Report </a>
    <div id="menu-btn" class="fas fa-bars"></div>
  </header>

  <section class="home" id="home">
    <div class="content">
      <h3>Empowering Health, Inspiring Lives</h3>
      <p>
        Welcome to Vital Flow Bio Lab – Your Gateway to Comprehensive Health
        Insights! At Vital Flow, we are dedicated to empowering you with the
        knowledge of your body's inner workings through advanced blood
        testing. Our state-of-the-art laboratory employs cutting-edge
        technology to provide accurate and timely results, ensuring you have a
        holistic understanding of your health.
      </p>
      <a href="/book" class="btn">book homeservice</a>
    </div>
  </section>

  <section class="services" id="services">
    <h1 class="heading">Services</h1>

    <div class="box-container">
      <a href="/book">
        <div class="box">
          <img src="static\images\basic-needs.png" alt="" />
          <h3>Homservices</h3>
          <p>Need a service at your home?</p>
        </div>
      </a>

      <a href="/userlogin">
        <div class="box">
          <img src="static\images\medical-record.png" alt="" />
          <h3>View Reports</h3>
          <p>
            Already gave us your sample?
          </p>
        </div>
      </a>

      <a href="/availabletest">
        <div class="box">
          <img src="static\images\clinical.png" alt="" />
          <h3>Test List</h3>
          <p>
            What tests we offer?
          </p>
        </div>
      </a>
    </div>
  </section>

  <section class="pricing" id="pricing">
    <h1 class="heading">packages</h1>

    <div class="box-container">
      <div class="box">
        <h3 class="title">Basic Package</h3>
        <div class="price">
          <span class="currency">Rs.</span>
          <span class="amount">5,999</span>
          <span class="duration"> /year</span>
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Complete Blood Count</li>
          <li><i class="fas fa-check"></i> Lipid Panel</li>
          <li><i class="fas fa-check"></i> Blood Glucose</li>
        </ul>
        <!-- <a href="Basic.html" class="btn">See More</a> -->
      </div>

      <div class="box active">
        <h3 class="title">Advance Package</h3>
        <div class="price">
          <span class="currency">Rs.</span>
          <span class="amount">11,999</span>
          <span class="duration"> /year</span>
        </div>
        <ul>
          <li><i class="fas fa-check"></i>All Basic Health Test</li>
          <li><i class="fas fa-check"></i>Home service 1/per year</li>
          <li><i class="fas fa-check"></i> Liver and Kidney Function Test</li>
        </ul>
        <!-- <a href="Advance.html" class="btn">See More</a> -->
      </div>

      <div class="box">
        <h3 class="title">Premimum Package</h3>
        <div class="price">
          <span class="currency">RS.</span>
          <span class="amount">24,999</span>
          <span class="duration"> /year</span>
        </div>
        <ul>
          <li><i class="fas fa-check"></i> Home service</li>
          <li><i class="fas fa-check"></i> Custom Diet Plans</li>
          <li><i class="fas fa-check"></i> Free Ambulance service</li>
        </ul>
        <!-- <a href="Premimum.html" class="btn">See More</a> -->
      </div>
    </div>
  </section>

  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>

 
  <section class="about" id="about">
    <h1 class="heading">about us</h1>

    <div class="row">
      <div class="image">
        <img src="/static/images/lab4.jpg" alt="" />
      </div>

      <div class="content">
        <h3>
          Designed to bring assurance and peace of mind to your healthcare
          journey
        </h3>
        <p>
          Vital Flow Bio-Lab is a crucial aspect of health monitoring,
          providing insights into various health-related parameters. This
          comprehensive analysis aids in assessing overall well-being,
          identifying potential health issues, and guiding preventive
          measures.
        </p>
        <p>
          Through state-of-the-art technology and expert analysis, Vital Flow
          Bio-Lab plays a pivotal role in promoting proactive healthcare and
          personalized wellness.
        </p>
      </div>
    </div>
  </section>

  <div class="feedback-container">
    <h1>WHAT PEOPLE THINK ABOUT US?</h1>
    <section class="feedback-section">
      <div class="swiper mySwiper">
        <div class="swiper-wrapper">
          {% for slide in feedback_detail_data %}
          <div class="swiper-slide">
            <div class="name">{{ slide.name }}</div>
            <div class="message">{{ slide.message }}</div>
          </div>
          {% endfor %}
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
      </div>
    </section>
    <button class="btn" onclick="location.href='feedback'">
      Give Feedback
    </button>
  </div>
 <script>
    var swiper = new Swiper(".mySwiper", {
      navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
      },
      autoplay: {
        delay: 3000,
        disableOnInteraction: false,
      },
      autoHeight: true,
      loop: true,
    });
  </script>
  <section class="footer">
    <div class="box-container">
      <div class="box">
        <h3>address</h3>
        <p>DILLIBAZAR,KATHMANDU VITALFLOW33@GMAIL.COM.NP</p>
        <div class="share">
          <a href="https://www.facebook.com/profile.php?id=61555670753216" class="fab fa-facebook-f"></a>
          <a href="#" class="fab fa-twitter"></a>
          <a href="https://www.linkedin.com/in/vitalflow-undefined-84a8992a9/" class="fab fa-linkedin"></a>
          <a href="#" class="fab fa-instagram"></a>
        </div>
      </div>
      <div class="box">
        <h3 onclick="location.href='contact'">contact us</h3>
        <p>+977 01 - 9876543</p>
        <p>+977 01 - 1234567</p>
        <button class="btn" onclick="location.href='contact'">
          Contact us
        </button>
      </div>

      <div class="box">
        <h3>opening hours</h3>
        <p>
          monday - friday : 8:00 - 24:00 <br />
          saturday : 9:00 - 24:00
        </p>
      </div>

      <div class="box">
        <h3>Logins</h3>
        <a href="/adminlogin">Admin Login</a>
        <br />
        <br />
        <a href="/techlogin">Technician Login</a>
      </div>
    </div>
  </section>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="js/script.js"></script>
</body>

</html>
