<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>View Report</title>
  <link rel="stylesheet" href="/static/css/userlogin.css" />
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  <!-- Bootstrap CSS -->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div class="header">
    <div class="logo">
      <img src="/static/Images/Logo.png" alt="Header Image" style="height: 100px;">
    </div>
    <div class="company-name">
      <h1>VITAL FLOW<br>BIO-LAB</h1>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <div class="login-container col-md-6">
        <h2>View Report</h2>
        <form method="POST" action="{% url 'test' %}">
          {% csrf_token %}
          <div class="form-group">
            <label for="patient_Name">Patient Name:</label>
            <input type="text" id="patientId" name="patient_Name" />
          </div>
          <div class="form-group">
            <label for="contact">Contact Number:</label>
            <input type="text" id="contact" name="contact" required />
          </div>

          <button type="submit" class="login-button">View Report</button>
          <button type="button" onclick="goHome()" class="back-button">Back</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>