{% load static %}
<!doctype html>
<html lang="en">
  <head>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VitalFlow</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/viewreport.css"/> 
  </head>
  <body>
    <div class="header">
        <div class="logo">
            <img src="/static/Images/Logo.png" alt="Header Image" style="height: 100px;">
        </div>
        <div class="company-name">
            <h1>VITAL FLOW<br>BIO-LAB</h1>
        </div>
    </div>
    <div class ="container ">
    <div class="rounded-box">
      <div class="content">
      <div class="top-buttons">
        <a href="/createreport"> <button class="btn btn-primary with-icon-1"></button></a>
      </div>
      <div class="top-buttons">
        <a href="/viewreport"><button class="btn btn-primary with-icon-4"></button></a>
      </div>
      <div class="top-buttons">
       <button class="btn btn-primary with-icon-3" id="foo" onclick="myFunction()" data-toggle="modal" data-target="#exampleModalLong2"></button>
      </div>
      </div>
    </div>
    <div class="modal fade" id="exampleModalLong2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Logout</h5>
            <button type="button" class="close" style='border: none; background:none' data-dismiss="modal" onclick="myFunction1()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to logout?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"   onclick="myFunction1()" data-dismiss="modal">Close</button>
            <a href="/"><button type="button" class="btn btn-primary">Logout</button></a>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="exampleModalLong1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Delete</h5>
            <button type="button" class="close" style='border: none; background:none' data-dismiss="modal" onclick="myFunction1()" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to Delete it?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger"   onclick="myFunction1()" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary">Yes</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="loginModal" tabindex="0" role="dialog" aria-labelledby="loginModalLabel" aria-hidden="true">
      <div class="modal-dialog1" role="document">
        
        <div class="views"  >
          <img src="/static/images/viewreport.png" height="740" alt="Your Image">
           <div class="text-field">
            <label for="userInput">Enter Text:</label>
            <input type="text" id="userInput">
            
          </div>
        </div>
       
      </div>
    </div>

     <div class="rounded-box2 ">
      <form class="d-flex mb-5" role="search"  >
        <input class="form-control me-2 " style="width: 300px" type="search" placeholder="Patient Id" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>      
    </form>
    <div class="table-scroll">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">S.N</th>
          <th scope="col">Date</th>
          <th scope="col">Patient Id</th>
          <th scope="col">Full Name</th>
          <th scope="col">Test</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>2023-02-30</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Sugar</td>
          
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
              View
            </button>
            <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
              Edit
            </button>
            <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
              Delete
            </button></div>
          </td>
          
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>2023-02-22</td>
          <td>220302</td>
          <td>Srijan Shrestha</td>
          <td>Uric acid</td>
        
          <td><div class="d-flex justify-content-end"><button type="button" class="btn btn-primary btn-Login" data-toggle="modal" data-target="#loginModal">
            View
          </button>
          <button type="button" class=" btn btn-success btn-Login ms-2 me-2" data-toggle="modal" data-target="#loginModal">
            Edit
          </button>
          <button type="button" class="btn btn-danger btn-Login" data-toggle="modal" data-target="#exampleModalLong1">
            Delete
          </button></div>
        </td>
        </tr>

        
       
      </tbody>
    </table>
  </div>
    </div>

    <script>
      function myFunction() {
    document.getElementById('foo').style.cssText = ''
}

function myFunction1() {
  document.getElementById('foo').style.cssText = ' '
}
    </script>    
  </body>
</html>