body {
    font-family: Arial, sans-serif;
    background-color: #cacaca;
    margin: 5px;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: relative;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #6290e8;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.logo img {
    width: 100px;
    height: auto;
}

.company-name h1 {
    color: #fff;
    text-align: center;
    margin: 0;
}

.form-group {
    margin-bottom: 25px;
}

label {
    display: block;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.login-button, .back-button {
    background-color: #8F94FD;
    color: #fff;
    padding: 18px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 10px;
}

.bod{
    display: flex;
    justify-content: center;
}

.h2{
    font-size: 2rem;}