.container {
  display: flex;
}
.header {
  background-color: #6290e8;
  color: white;
  padding: 10px;
  display: flex;
  height: 120px;
  justify-content: space-between; /* Changed from flex-start to space-between */
  align-items: center; /* Align children vertically */
  margin-bottom: 5px;
}
.navbar {
  margin-top: 5px;
  background-color: #fff;
  padding: 300px 100px;
  border-radius: 15px;
  max-width: 100px;
  border: 1px solid #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  justify-content: flex-start;
}
.company-name {
  margin-right: auto; /* Pushes the company name to the right */
}

.rounded-box {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 210px;
  height: 610px;
  border: outset;
  background-color: aliceblue;
  margin-right: 9px;
}
.top-buttons {
  justify-content: end;
}
.content {
  text-align: center;
}

.rounded-box2 {
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  width: 1800px;
  border: solid;
  height: 610px;
  background-color: MISTYROSE;
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  display: none; /* Initially hide the loading screen */
}