/* Global Styles */

body {
  font-family: Arial, sans-serif;
  background-color: #efefef;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  position: relative;
}

/* Header Styles */

.header {
  background-color: #6290e8;
  color: white;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 5px;
}

.logo img {
  width: 100px;
  height: auto;
}

.company-name h1 {
  color: #fff;
  text-align: center;
  margin: 0;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1.2;
}

/* Login Container Styles */

.login-container {
  background-color: #fff;
  padding: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 450px;
  width: 100%;
  position: relative;
  margin-top: 15px;
}

/* Form Styles */

.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-sizing: border-box;
}

/* Button Styles */

.login-button,
.back-button {
  background-color: #8f94fd;
  color: #fff;
  padding: 18px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  margin-right: 10px;
}
